.item{
width: 350px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-weight: 600;
    font-size: 18px;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.add-to-cart-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ff5e00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
